{% set currentUrl %}{{ page.url }}{% endset %}

<header class="header" aria-label="Bridge Global">
 
 
   
      <a href="#main-content" class="skip-navigation" role="skip" aria-label="navigation">
        Skip Navigation
      </a>
  
        <div class="header__head">
          <div class="container">
            <div class="header__wrap">
              <a href="index.html" class="header__logo-link" aria-label="Bridge">
                <img src="images/Bridge-Logo.svg" alt="Bridge Logo">
              </a>
              <nav class="navigation" aria-label="navigation">
                <ul class="navigation__list">
                  <li class="navigation__item"><a href="#" class="navigation__link">Home</a></li>
                  <li class="navigation__item"><a href="#" class="navigation__link">Services</a></li>
                  <li class="navigation__item"><a href="#" class="navigation__link">About Us</a></li>
                  <li class="navigation__item"><a href="#" class="navigation__link">Portfolio</a></li>
                  <li class="navigation__item"><a href="#" class="navigation__link">Blogs</a></li>
                  <li class="navigation__item"><a href="#" class="navigation__link">Contact Us</a></li>
                </ul>
              </nav>
              <button class="btn btn--search" aria-label="search">
                <svg aria-hidden="true" class="icon icon-search">
                  <use xlink:href="images/sprite.svg#icon-search-icon"></use>
                </svg>
              </button>
              <button class="btn btn--menu" aria-label="menu">
                <svg aria-hidden="true" class="icon icon-menu">
                  <use xlink:href="images/sprite.svg#icon-menu"></use>
                </svg>
              </button>
            </div>
           
          </div>
       
      </div>
      
     

    <div class="banner">
      <div class="container">
        
          <ul class="one-item">
            <li>
              <div class="banner__slider-wrap">
                <div class="banner__text-content">
                  <h1 class="heading-primary">Web & Mobile
                    <span class="heading-primary--sub-title">
                      Build for the future.
                    </span>
                  </h1>
                  <p class="banner__text-content__paragraph">Itaque earum rerum tenetur sapiente delectus
                    ut aut reiciendis voluptatibus maiores
                    alias consequatur repellat.</p>
                </div>
                <div class="banner__img">
                  <img src="images/banner-img.svg" alt="a developer working" loading="lazy">
                </div>
              </div>
            </li>
            <li>
              <div class="banner__slider-wrap">
                <div class="banner__text-content">
                  <h1 class="heading-primary">Web & Mobile
                    <span class="heading-primary--sub-title">
                      Build for the future.
                    </span>
                  </h1>
                  <p class="banner__text-content__paragraph">Itaque earum rerum tenetur sapiente delectus
                    ut aut reiciendis voluptatibus maiores
                    alias consequatur repellat.</p>
                </div>
                <div class="banner__img">
                  <img src="images/banner-img.svg" alt="a developer working" loading="lazy">
                </div>
              </div>
            </li>
            <li>
              <div class="banner__slider-wrap">
                <div class="banner__text-content">
                  <h1 class="heading-primary">Web & Mobile
                    <span class="heading-primary--sub-title">
                      Build for the future.
                    </span>
                  </h1>
                  <p class="banner__text-content__paragraph">Itaque earum rerum tenetur sapiente delectus
                    ut aut reiciendis voluptatibus maiores
                    alias consequatur repellat.</p>
                </div>
                <div class="banner__img">
                  <img src="images/banner-img.svg" alt="a developer working" loading="lazy">
                </div>
              </div>
            </li>
          </ul>
    
      </div>
    </div>
</header>