<div class="mob-menu">
    <ul>
        <li>
            <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
        </li>
        <li>
            <a class="nav-link" href="#">Services</a>
        </li>
        <li>
            <a class="nav-link" href="#">About Us</a>
        </li>
        <li>
            <a class="nav-link" href="#">Portfolio</a>
        </li>
        <li>
            <a class="nav-link" href="#">Blogs</a>
        </li>
        <li>
            <a class="nav-link" href="#">Contact Us</a>
        </li>
    </ul>
    <svg aria-hidden="true" class="closeBtn">
        <use xlink:href="images/sprite.svg#icon-close"></use>
    </svg>
</div>